



<div class="card text-center">
    <div class="card-header">
        <header class="header">
            <a class="nav-link" href="/">Book Directory</a>
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/authors">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authors/new">Add Author</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/books">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/books/new">Add Book</a>
          </li>
      </ul>
    </header>
    </div>
  </div>


















