<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>
  <style>

    :root {
      font-family: sans-serif;
      font-size: 30px;
      color: var(--color-text-light);

    --book-cover-width: 200px;
    --book-cover-width-large: 325px;
    --book-cover-aspect-ratio: 0.75;
  

 
    --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 83%);
    --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 73%);
    --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
    --color-btn-primary-text-dark: hsl(var(--color-base-hue), 100%, 10%);
    --color-btn-border: black;
    --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 83%);
    --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 73%);
    --color-btn-danger-text: black;
    --color-btn-danger-text-dark: black;
 
  
    --form-label-font-size: 1.2rem;
    --form-input-background-color: hsl(var(--color-base-hue), 100%, 31%);
    --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
    --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 80%);

    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 500;
  
 
    --color-base-hue: 200;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue), 100%, 8%);
    --color-background-light: hsl(var(--color-base-hue), 100%, 16%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 87%);
  }
    
    *, *::before, *::after {
      box-sizing: border-box;
    }
    
    body {
        width: 100%;
        min-height: 100vh;
      background: linear-gradient(135deg, #12192c, #b6cefc); 
      /* overflow: hidden; */
      overflow-y: scroll;
      background-size:cover ;
      background-repeat:no-repeat ;

      /* <div id="grad1" style="text-align:center;margin:auto;color:#f3f3f3;font-size:30px;font-weight:550;padding-top:105px;">
    Gradient Backgrounds</div> */
    }
    body::-webkit-scrollbar {
        display: none;
    }
    
    .container {
        width: 100%;
        height: auto;
    }
    
    .inner-container {
      margin: 4rem;
      height: auto;
  
    }
    
    .page-header {
      font-size: 1.5rem;
      color: rgb(42, 193, 150);
      font-weight: 1000;
    }
    
    .error-message {
      color: hsl(var(--color-danger-hue), 100%, 50%);
    }
    
    .header-nav{
      font-size: 2rem;
    }
    .nav-header{
      font-size: large;
    }
    
    .nav{
      font-size: 25px;
    }
    
    .header{
      font-size: 30px;
    }
    .nam{
      font-size: 20px;
      background-color: rgb(52 124 205);
     
    }
    .t2{
      font-size: 35px;
    }
    
    .author-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .author-name {
    font-size: 1.5rem;
  }

  .name{
    font-size:20px;
  }

  
  
  .book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
  }
  
  .book-cover-large {
    --book-cover-width: var(--book-cover-width-large);
  }
  
  .book-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--book-cover-width));
  }
  
  .book-grid-large {
    grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
  }
  
  .book-details {
    display: flex;
  }
  
  .book-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
  }
  
  .book-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
  }
  
  .book-details-btn-grid {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas:
      "edit delete"
      "author author";
    grid-gap: .5rem;
    margin-top: .5rem;
  }
  
  .book-details-author-button {
    grid-area: author;
    justify-self: stretch;
  }

 
  
  .btn {
    border: 1px solid var(--color-btn-border);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Gotham Rounded';
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  
  .btn-row {
    display: flex;
    align-items: flex-start;
  }
  
  .btn-row > * {
    margin-left: 1rem;
  }
  
  .btn-row > *:first-child {
    margin-left: 0;
  }
  
  .btn-primary {
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background);
  }
  
  .btn-primary:hover {
    color: var(--color-btn-primary-text-dark);
    background-color: var(--color-btn-primary-background-dark);
  }
  
  .btn-danger {
    color: var(--color-btn-danger-text);
    background-color: var(--color-btn-danger-background);
  }
  
  .btn-danger:hover {
    color: var(--color-btn-danger-text-dark);
    background-color: var(--color-btn-danger-background-dark);
  }

  
  
  .btn {
    border: 1px solid var(--color-btn-border);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Gotham Rounded';
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  
  .btn-row {
    display: flex;
    align-items: flex-start;
  }
  
  .btn-row > * {
    margin-left: 1rem;
  }
  
  .btn-row > *:first-child {
    margin-left: 0;
  }
  
  .btn-primary {
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background);
  }
  
  .btn-primary:hover {
    color: var(--color-btn-primary-text-dark);
    background-color: var(--color-btn-primary-background-dark);
  }
  
  .btn-danger {
    color: var(--color-btn-danger-text);
    background-color: var(--color-btn-danger-background);
  }
  
  .btn-danger:hover {
    color: var(--color-btn-danger-text-dark);
    background-color: var(--color-btn-danger-background-dark);
  }

  .t2{
    color: aqua;
  }

  .header{
    color: aqua;
  }

  
  
  .form-row {
    display: flex;
    margin-bottom: .5rem;
  }
  
  .form-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .form-item:first-child {
    margin-left: 0;
  }
  
  .form-item-no-grow {
    flex-grow: 0;
  }
  
  .form-row-end {
    justify-content: flex-end;
  }
  
  .form-item > label {
    font-size: var(--form-label-font-size);
    margin-bottom: .25rem;
    margin-left: .25rem;
  }
  
  .form-item input, .form-item select, .form-item textarea {
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Gotham Rounded';
    outline: none;
  }
  
  .form-item textarea {
    height: 100%;
    resize: none;
  }
  
  .form-item select option {
    background-color: rgb(98, 234, 191);
  }
  
  .form-item input:focus, .form-item select:focus, .form-item textarea:focus {
    border-color: var(--form-input-border-color-light);
  }
  
  .filepond--root {
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
  }
  
  .filepond--panel-root {
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-input-border-color);
  }
  
  .filepond--drop-label {
    color: var(--color-text-light);
    font-size: inherit;
  }

  
  
  .header-title {
    color: var(--color-text-success);
    text-decoration: none;
    font-size: var(--nav-title-font-size-25px);
    font-weight: var(--nav-title-font-weight);
  }
  
  .header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 30px;
  }
  
  .header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  
  .header-nav li {
    list-style:square;
  }
  
  .header-nav li a {
    text-decoration: none;
    color: var(--color-text-success);
    font-weight: var(--nav-link-font-weight);
    padding: 5rem;
    font-size: 30px;
  }
  
  .header-nav li a:hover, .header-title:hover {
    color: rgb(218, 25, 25);
  }
  .header {
    width: 100%;
    height: 80px;
    background-color: #12192c;
    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
  }
  a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #b6cefc;
  }
  .logo {
    font-weight: bold;
  }
  .nav {
    list-style: none;
  }
  .nav .nav-item {
    display: inline;
    margin-left: 2rem;
  }
  .card-header {
    margin-bottom: 5rem;
  }
  
  </style>
  <title>Book Directory</title>
</head>
<body>
    
    <div class="container">
        <%- include('../partials/header.ejs') %>
        <div class="inner-container">
          <%- include('../partials/errorMessage.ejs') %>
          <%- body %>
        </div>
    </div>
  

</body>
</html>