:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 500;
  }
  
  .header-title {
    color: var(--color-text-success);
    text-decoration: none;
    font-size: var(--nav-title-font-size-25px);
    font-weight: var(--nav-title-font-weight);
  }
  
  .header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 30px;
  }
  
  .header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  
  .header-nav li {
    list-style:square;
  }
  
  .header-nav li a {
    text-decoration: none;
    color: var(--color-text-success);
    font-weight: var(--nav-link-font-weight);
    padding: 5rem;
    font-size: 30px;
  }
  
  .header-nav li a:hover, .header-title:hover {
    color: rgb(218, 25, 25);
  }